.git
**/bin
**/obj
**/node_modules

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

appsettings.Development.json

/dist/
/src/Site/PaulSamways/wwwroot/css/*
/src/Site/PaulSamways/wwwroot/js/*
