<section id="about" class="lg:min-h-full container mx-auto pb-8 print:min-h-0">
    <h2 class="text-2xl mb-8">01. <span class="text-zinc-200">About Me</span></h2>

    <div class="flex">
        <div class="flex-1">
            <div class="prose prose-invert prose-yellow print:prose-slate print:max-w-none">
                <p>
                    I am passionate about continuous learning and enjoy contributing to any and all parts 
                    of software development including design and analysis, front-end &amp; back-end 
                    development, data and database design, operations, and support.
                </p>

                <p>
                    I have a general inclination to undertake challenging projects where I can apply my diverse skillset
                    in order to deliver results. I'm confortable working in environments where there is uncertainity and
                    the path to success is not clear.
                </p>
                <p>
                    I prefer working in teams where people have diverse backgrounds, and I bring a supportive and empathetic personality.

                </p>
            </div>
        </div>
        <div class="flex-1 hidden lg:block">
            <img class="rounded" alt="Paul Samways" src="img/headshot.jpeg" />
        </div>
    </div>

</section>