<section id="education" class="min-h-full container mx-auto pb-8">
    <h2 class="text-2xl mb-8"><span class="print:hidden">04. </span><span class="text-zinc-200">Education</span></h2>

    <div class="prose prose-invert prose-yellow print:prose-slate print:max-w-none">
        <h3>Formal education</h3>

        <ul>
            <li><a href="https://programsandcourses.anu.edu.au/program/6706XGDCP" target="_blank">Graduate Diploma of Computing </a>: Australian National University &mdash; <strong>partial completion</strong> 2015, 5 subjects, GPA 7.0.</li>

            <li>Diploma of Information Technology (Network Engineering): Riverina Tafe Campus &mdash; completed 2005.</li>

            <li>Higher School Certificate: Wagga Wagga High School &mdash; completed 2003.</li>
        </ul>


        <h3>Courses</h3>

        <ul>
            <li><a href="https://www.coursera.org/course/nand2tetris1" target="_blank">From Nand to Tetris</a>: Hebrew University of Jerusalem on Coursera &mdash; verified, completed 2015.</li>

            <li><a href="https://qfpl.io/posts/2018-canberra-intro-to-fp/" target="_blank">Introduction to Functional Programming</a>: CSIRO Data61 <em>(was NICTA)</em> &mdash; completed 2014.</li>

            <li><a href="https://www.sitecore.com/knowledge-center/getting-started/training" target="_blank">Sitecore
                    Foundations &amp; .NET Developer Course</a> &mdash; completed 2012</li>

        </ul>

        <h3>Conferences</h3>
        
        <ul>
            <li>
                <a href="https://lambdajam.yowconference.com.au/" target="_blank">YOW! Lambda Jam</a> &mdash; attended 2015, 2016, 2017 &amp; 2018</span>
                <blockquote class="text-sm text-zinc-400">
                    YOW! Lambda Jam Conference aims at expanding the skills of functional programmers. The conference
                    focuses on applied functional programming in languages such as Clojure, Scala, Haskell, Erlang and
                    F#. YOW! Lambda Jam attracts leading software professionals that are serious about staying informed
                    of the latest trends and using that knowledge to create innovative solutions.
                </blockquote>
            </li>

            <li>
                <a href="https://yowconference.com.au/" target="_blank">YOW!</a> &mdash; attended 2016
                <blockquote class="text-sm text-zinc-400">
                    YOW! Conferences, Workshops &amp; Nights are events for software developers to help them stay
                    up-to-date with the latest best practices and to network with their peers.
                </blockquote>
            </li>

            <li>
                <a href="http://www.composeconference.org/" target="_blank">C◦mp◦se Conference</a> &mdash; attended 2016 &amp; 2017
                <blockquote class="text-sm text-zinc-400">
                    Compose is a conference for functional programmers, focused on technologies such as Haskell, Scala,
                    Clojure, OCaml, F#, SML and others.
                </blockquote>
            </li>
        </ul>
    </div>
</section>