@model Skill

<section id="skills" class="lg:min-h-full container mx-auto pb-8">
    <h2 class="text-2xl mb-8">02. <span class="text-zinc-200">Skills</span></h2>

    <div id="skillsTree">
        <dialog class="bg-zinc-800 text-zinc-200 p-8">
            <form method="dialog">
                <div class="content prose prose-invert">

                </div>
                <div class="pt-12 flex justify-end">
                    <button class="outline-button" type="submit">Close</button>
                </div>
            </form>
        </dialog>
    </div>
</section>