<section id="about" class="min-h-full container mx-auto pb-8">
    <h2 class="text-2xl mb-8">01. About Me</h2>

    <div class="flex">
        <div class="flex-1">
            <p class="max-w-2xl">
                I consider myself to be a pragmatic person and have a proclivity for undertaking challenging
                projects where I'm able to apply my diverse skill set in order to deliver results. I am
                passionate
                about continuous learning and enjoy contributing to any and all parts of software
                development,
                inclusive of design and analysis, front-end/back-end development, data and database design,
                deployment and operations, and support.
            </p>

            <p class="max-w-2xl mt-4">
                As I've gained more experience in leadership, I have come to appreciate the soft skills,
                and the benefits of understanding people and the relationships which are required to form
                effective teams. Although I do not seek a leadership role at this time, I believe having
                this
                experience has made me a better individual team member.
            </p>

            <p class="max-w-2xl mt-4">
                Octopus Deploy's values and the transparency displayed in the <a href="https://handbook.octopus.com/"
                    target="_blank">Handbook</a>, and making it
                available to
                the public was a large factor in applying for this role. I'm seeking a position in a company
                who are
                product focused, who care about and listen to their customers, and who trust and value their
                people
                - Octopus ticks all these boxes. I believe I have a lot to offer in the experiene and skills
                I have
                acquired over my career, and would love to be considered for this role.
            </p>
        </div>
        <div class="flex-1">
            <img class="rounded" alt="Paul Samways" src="img/headshot.jpeg" />
        </div>
    </div>

</section>