<section id="education" class="min-h-full container mx-auto pb-8">
    <h2 class="text-2xl mb-8">04. Education</h2>


    <h3>Formal education</h3>

    <h4><a href="https://programsandcourses.anu.edu.au/program/6706XGDCP">Graduate Diploma of Computing</a></h4>
    <p>Australian National University &mdash; partial completion 2015, 5 subjects, GPA 7.0.</p>

    <h4>Diploma of Information Technology (Network Engineering)</h4>
    <p>Riverina Tafe Campus &mdash; completed 2005.</p>

    <h4>Higher School Certificate</h4>
    <p>Wagga Wagga High School &mdash; completed 2003.</p>


    <h3>Courses</h3>

    <h4><a href="https://www.coursera.org/course/nand2tetris1">From Nand to Tetris</a></h4>
    <p>Hebrew University of Jerusalem on Coursera &mdash; verified, completed 2015.</p>

    <h4><a href="https://qfpl.io/posts/2018-canberra-intro-to-fp/">Introduction to Functional Programming</a>
    </h4>
    <p>CSIRO Data61 <em>(was NICTA)</em> &mdash; completed 2014.</p>

    <h4><a href="https://www.sitecore.com/knowledge-center/getting-started/training" target="_blank">Sitecore
            Foundations &amp; .NET Developer Course</a></h4>
    <p>Completed 2012</p>



    <h3>Conferences</h3>
    <h4><a href="https://lambdajam.yowconference.com.au/">YOW! Lambda Jam</a></h4>
    <blockquote>
        <p>YOW! Lambda Jam Conference aims at expanding the skills of functional programmers. The conference
            focuses on applied functional programming in languages such as Clojure, Scala, Haskell, Erlang and
            F#. YOW! Lambda Jam attracts leading software professionals that are serious about staying informed
            of the latest trends and using that knowledge to create innovative solutions.
            attended 2015, 2016, 2017 &amp; 2018.</p>
    </blockquote>

    <h4><a href="https://yowconference.com.au/">YOW!</a></h4>
    <blockquote>
        <p>YOW! Conferences, Workshops &amp; Nights are events for software developers to help them stay
            up-to-date with the latest best practices and to network with their peers.
            attended 2016.</p>
    </blockquote>

    <h4><a href="http://www.composeconference.org/">C◦mp◦se Conference</a></h4>
    <blockquote>
        <p>Compose is a conference for functional programmers, focused on technologies such as Haskell, Scala,
            Clojure, OCaml, F#, SML and others.
            attended 2016 &amp; 2017.</p>
    </blockquote>
</section>