<!doctype html>
<html class="h-full" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="noindex">

    <title>Paul Samways - Senior Software Engineer</title>

    <meta name="description" content="Application for a Senior Software Engineer position at Octopus">
    <meta name="author" content="Paul Samways">

    <link rel="stylesheet" href="css/site.css">

    @await RenderSectionAsync("Head", required: false)
</head>

<body class="h-full bg-zinc-900 text-zinc-200 font-mono flex flex-col overflow-hidden">

    @await RenderSectionAsync("Header", required: false)

    <main class="flex-grow overflow-y-auto">
        @RenderBody()
    </main>
    <footer class="h-12 flex-shrink-0 flex items-center justify-center text-zinc-400 text-sm">
        Designed and built by Paul Samways.
    </footer>
</body>

</html>