<!doctype html>
<html class="h-full" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="noindex">

    <title>Paul Samways - Senior Software Engineer</title>

    <meta name="description" content="Application for a Senior Software Engineer position at Octopus">
    <meta name="author" content="Paul Samways">

    <link rel="stylesheet" href="css/site.css">
    <script defer src="js/index.js"></script>

    @await RenderSectionAsync("Head", required: false)
</head>

<body class="flex h-full bg-zinc-900 text-zinc-200 font-mono">
    <div class="w-24 flex-shrink-0">

    </div>
    <div class="flex-grow flex flex-col overflow-hidden">
        <header class="h-24 px-8 flex-shrink-0 flex items-center justify-end gap-8">
            <a href="#about">01. About</a>
            <a href="#skills">02. Skills</a>
            <a href="#experience">03. Experience</a>
            <a href="#education">04. Education</a>
            <a href="#contact">05. Contact</a>
        </header>
        <main class="flex-grow overflow-y-auto">
            @RenderBody()
            
        </main>
        <footer class="h-24 flex-shrink-0 flex items-center justify-center">
            Designed and built by Paul Samways
        </footer>
    </div>
</body>

</html>